---
import { GithubIcon, LinkedinIcon } from "lucide-solid";
import { AUTHOR_NAME, PERSONAL_LINKS } from "../consts";

const today = new Date();
---

<footer class="bg-foreground text-background py-8 lg:py-16">
  <ul class="container grid lg:grid-cols-4">
    <li class="flex items-center justify-center py-4">
      &copy; {today.getFullYear()}
      {AUTHOR_NAME}. All rights reserved.
    </li>
    <li class="flex items-center justify-center py-4">
      <a href={PERSONAL_LINKS.github} target="_blank">
        <span class="sr-only">Go to {AUTHOR_NAME}'s Github profile</span>
        <GithubIcon />
      </a>
    </li>
    <li class="flex items-center justify-center py-4">
      <a href={PERSONAL_LINKS.linkedIn} target="_blank">
        <span class="sr-only">View {AUTHOR_NAME}'s LinkedIn profile</span>
        <LinkedinIcon />
      </a>
    </li>
    <li class="flex items-center justify-center py-4">
      <a href={PERSONAL_LINKS.email} target="_blank">
        ericksaurisyl[at]gmail[dot]com
      </a>
    </li>
  </ul>
</footer>
