---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ProjectCardDescription from "../components/ProjectCardDescription.astro";
import ProjectCardThumbnail from "../components/ProjectCardThumbnail.astro";
import ProjectCardTitle from "../components/ProjectCardTitle.astro";
import Tag from "../components/Tag.astro";
import TagList from "../components/TagList.astro";
import { AUTHOR_NAME } from "../consts";

type Props = CollectionEntry<"projects">["data"];

const { slug } = Astro.params;
const { banner, description, tags, thumbnail, title } = Astro.props;

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const recirc = projects.filter((project) => project.slug !== slug).slice(0, 3);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      description={description}
      image={thumbnail}
      title={`${AUTHOR_NAME} - ${title}`}
    />
    <style>
      .banner {
        height: calc(100vh - 72px);
      }

      @supports (height: 100dvh) {
        .banner {
          height: calc(100dvh - 72px);
        }
      }

      .banner__chevron-down {
        position: absolute;
        left: 50%;
        bottom: 1em;
        width: 20px;
        height: 20px;
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-radius: 0 0 4px;
        transform-origin: 0 100%;
        transform: rotate(45deg) translateX(-50%);
        animation: signal 1s ease-out infinite;
      }

      @keyframes signal {
        0% {
          bottom: 4em;
          opacity: 0;
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 0;
          bottom: 1em;
        }
      }
    </style>
  </head>
  <body class="antialiased bg-background text-foreground font-sans">
    <Header />
    <main>
      <!-- Hero Banner -->
      <section
        class:list={[
          banner,
          "relative flex justify-center items-center w-full min-h-96 bg-center bg-cover bg-scroll bg-no-repeat banner",
        ]}
      >
        <span class="banner__chevron-down"></span>
      </section>
      <!-- Project Details -->
      <article
        class="container prose py-6 prose-img:mx-auto prose-img:rounded-lg"
      >
        <TagList scrollable>
          {tags.map((tag) => <Tag>{tag}</Tag>)}
        </TagList>
        <h1>{title}</h1>
        <slot />
      </article>
      {
        recirc.length > 0 && (
          <section class="flex flex-col gap-6">
            <div class="container prose">
              <h2>More Projects</h2>
            </div>
            <ul class="grid md:grid-cols-2 lg:grid-cols-3">
              {recirc.map((project) => (
                <li>
                  <ProjectCard
                    href={`/projects/${project.slug}`}
                    title={project.data.title}
                  >
                    <ProjectCardThumbnail
                      thumbnail={project.data.thumbnail}
                      title={project.data.title}
                    />
                    <div class="absolute bottom-6 right-6 text-right">
                      <ProjectCardTitle>{project.data.title}</ProjectCardTitle>
                      <ProjectCardDescription>
                        {project.data.description}
                      </ProjectCardDescription>
                    </div>
                  </ProjectCard>
                </li>
              ))}
            </ul>
          </section>
        )
      }
    </main>
    <Footer />
  </body>
</html>
